    <% content_for :title, "Blog - Home" %>
    
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Page Heading
                    <small>Secondary Text</small>
                </h1>

                 <!-- Blog form -->
                <div class="well" style="min-height:300px">
                    <h4>Create new entry:</h4>
                    <%= form_for @blog, url: {action: "create"}, html: {role: "form"} do |f| %>
                        <div class="form-group">
                            <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
                            </br>
                            <%= f.text_area :content, rows: 5, class: "form-control" %>
                        </div>
                        <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
                    <% end %>
                </div>

                <hr>

                <% @blogs.each do |blog| %>
                <div>
                    <h2>
                        <%= link_to blog.title, blog %>
                    </h2>
                    <p class="lead">
                        by Anonymous
                    </p>
                    <% if blog.created_at == blog.updated_at %>
                    <p><span class="glyphicon glyphicon-time"></span> Posted <%= time_ago_in_words(blog.created_at) %></p>
                    <% else %>
                    <p><span class="glyphicon glyphicon-time"></span> Edited <%= time_ago_in_words(blog.updated_at) %></p>
                    <% end %>
                    <hr>
                    <p><%= blog.content.lines.first %> </p>

                    <%= link_to blog, class: "btn btn-primary" do %>
                        Read more
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    <% end %>

                    <hr>
                </div>
                <% end %>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->